# Module 13: Exploring Date/Time Data with datetime

In [1]:
from datetime import date

today = date.today()
print("today is " , today)

print("day:", today.day)
print("month:", today.month)
print("year:", today.year)

today is  2024-08-12
day: 12
month: 8
year: 2024

However, sometimes we may not always want our dates to be represented by integers.


https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [2]:
today.strftime("%A %d %B %Y")

'Monday 12 August 2024'

You can see that the output we've given is the name of the day (in full English), the day (as a number), the name of the month (in full English) and the value of the current year (as a number).

We can also experiment with different format codes for our `strftime` method. Let's see what happens in we were to use all lowercase values.

In [3]:
today.strftime("%a %d %b %y")

'Mon 12 Aug 24'

## Working with Strings

As all of these date time values are strings, we can add all sorts of things we wanted inbetween them.

Let's say I wanted to add some commas and some English inbetween the output I'm producing.

In [4]:
today.strftime("%A, %dth of %B %Y")

'Monday, 12th of August 2024'

## Manipulating Date Attributes via Basic Arithmetic

Using arithmetic with Python's `datetime` module allows for the manipulation and calculation of dates and times with ease.

By importing the `datetime` module, you can perform operations like adding or subtracting days, hours, minutes, or even seconds from a given date and time.

This feature is great for tasks like scheduling, logging events, and managing time-based data.

For example, let's take a look at how we can look one year into advance.

We use the `today` object that was created earlier, and call the `replace` function.

The `replace` function essentially gives the ability to override the current value.

Inside of the brackets, we can specify what we want to replace with. In this case, we are replacing the year value, by taking the `.year` attribute of the `today` variable, and adding 1 to it.

This should take us into the next year.

In [5]:
next_year = today.replace(year = today.year + 1)
next_year

datetime.date(2025, 8, 12)

Moreover, we can also obtain the difference between two dates, simply by using subtraction.

For example, let's examine the difference between the `today` variable and the `next_year` variable.

We are able to obtain the difference by using the abs() function, which takes the absolute value of whatever is in the brackets.

From there, assuming that we save the difference value in the form of a variable, we can take that variable and extract the `.days` property.

From the following example, we aim to see the number of days are inbetween two variables, `today` and `next_year`.

In [6]:
difference  = abs(next_year - today)

print("There are", difference.days, "days between", today, "and", next_year)

There are 365 days between 2024-08-12 and 2025-08-12

The result is what we expected, which is 365 days.

## Loading Date Using Attributes

To create a date value from scratch, we use the `date()` function with the following format of arguments: `date(year, month, day)`.

Note that currently, we use numbers to represent the value of each year, month or day argument.

In [7]:
DavidCox = date(1924, 7, 15)
print("David Cox was born on", DavidCox)

David Cox was born on 1924-07-15

Depending on specific situations, it may be that the date value provided to us in the form of a long string, rather than individual numbers we can assign to each of the three arguments.

How can we represent this date data using strings instead?

We can use the `date.fromisoformat()` function.

In [8]:
DavidCox = date.fromisoformat("1924-07-15")
print("David Cox was born on", DavidCox)

David Cox was born on 1924-07-15

Notice that for single-digit parameter values (like July as shown in the example), we need to append a 0 at the beginning.

This is just simply due to how the `date.fromisoformat()` function was defined.

If we don't include it, we will get an error saying "Invalid isoformat string", as shown in the incorrect example below.

In [9]:
# INCORRECT
DavidCox = date.fromisoformat("1924-7-15")

ValueError: Invalid isoformat string: '1924-7-15'

## Obtaining More Information from Date

We have seen how to get data from a date, in the form of numbers.

How can we obtain information such as the weekday, which is expressed in English form?

In [10]:
DavidCox.weekday()

1

The initial gut reaction upon seeing this is thinking that David Cox's birthday is on a Monday.

But as a matter of fact, the `weekday()` method actually starts counting from 0, which represents Monday.

Therefore, a value of 1 would mean that his birthday actually fell on a Tuesday.

You can verify this with https://www.onthisday.com/date/1924/july/15

## Working with datetime Objects

Previously we were only working with date objects, but now let's throw the time attribute in there as well.

In [11]:
from datetime import datetime

now = datetime.now()
print("Right now, it's" , now)

Right now, it's 2024-08-12 22:12:05.028281

In [12]:
print("it's the {} minute of the {} hour, of the {} day of the {} month".format(
      now.minute,
      now.hour,
      now.day,
      now.month
))

it's the 12 minute of the 22 hour, of the 12 day of the 8 month

We can make our datetime object much more informative, through the form of strings, in combination with the `fromisoformat` function.

Note that UTC+4 is Moscow standard time.

In [13]:
chernobyl = datetime.fromisoformat("1986-04-26 01:23:40:000+04:00")
print("Chernobyl occured on",chernobyl)

Chernobyl occured on 1986-04-26 01:23:40+04:00

However, we can make this even more informative by using some format codes.

In [14]:
print(chernobyl.strftime("Chernobyl occured on %A, %dth of %B %Y at %H:%M:%S"))

Chernobyl occured on Saturday, 26th of April 1986 at 01:23:40

We can get a bit more detailed than this, by representing time information using just `%X` and also including timezone information via `%Z`. In this case, MSD would represent Moscow Daylight Time.

In [15]:
print(chernobyl.strftime("Chernobyl occured on %A, %dth of %B %Y at %X MSD(%Z)"))

Chernobyl occured on Saturday, 26th of April 1986 at 01:23:40 MSD(UTC+04:00)

Alternatively, the information represented by `chernobyl.strftime("%Z")` could also be written as `chernobyl.tzinfo`.

In [16]:
print("MSD can be written alternatively as", chernobyl.tzinfo)

MSD can be written alternatively as UTC+04:00

## Working with datetimes' time object

The `time` object from Python's `datetime` module is a versatile tool designed to handle and represent time without the complexities of a full date.

It allows you to store and manipulate hours, minutes, seconds, and microseconds, making it extremely useful for situations in which one needs to focus more on time rather than dates.

 With methods for comparison, arithmetic, and formatting, the `time` object provides robust functionality for managing time-based data in a clear and concise manner.

In [17]:
from datetime import time


my_time = time(15, 33, 8)
my_time2 = time.fromisoformat("15:33:08-07:00")


print("my_time is", my_time)
print("my_time2 is", my_time2)

my_time is 15:33:08
my_time2 is 15:33:08-07:00

## Converting Between 24 Hour Time to 12 Hour Time

Let's take the `my_time` object that we have created and try to convert between the two different formats.

The `%p` is a placeholder which indicates whether we are dealing with an AM time or PM time.

In [18]:
print(my_time2.strftime("%I:%M %p"))

03:33 PM

## Combining date Objects with time Objects to Create a datetime Object

Combining `date` objects with `time` objects in the `datetime` module allows the user to create `datetime` objects.Such data can capture both the date and time elements in a single entity.

This combination is particularly useful when one is trying to timestamp events where both the date and the exact time are crucial, such as logging activities or scheduling tasks.

The resulting `datetime` objects offer extensive methods for manipulation, arithmetic, and formatting, making them indispensable for applications requiring detailed temporal data management.

In [19]:
my_date = date(2010, 1, 10)

my_datetime = datetime.combine(my_date, my_time)

print("my_datetime is", my_datetime)

my_datetime is 2010-01-10 15:33:08